    <div class="page-intro">
      <div class="intro-content">
        <div class="intro-content__bold">Готовь и делись рецептами</div>
        <div class="intro-content__tiny">Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте</div>
        <div class="intro-content__buttons">
          <a href="" class="yellow-button"><p>Добавить рецепт</p></a>
          <a href="" class="white-button"><p>Войти</p></a>
        </div>      
      </div>
    </div>
    <img src="assets/Images/Food.png" alt="Food" class="page-intro-image">
    <div class="page-tagsort">
      <div class="title">
        <div class="title__bold">Умная сортировка по тегам</div>
        <div class="title__tiny">Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</div>
      </div>
      <div class="sort">
        <a *ngFor="let tag of Tags" href="" class="sort__button">
          <div class="button-img">              
            <img src="{{tag.icon}}" alt="Book" width="22" height="24" class="button-img__image">
          </div>
          <div class="button-text">
            <div class="button-text__bold">{{tag.name}}</div>
            <div class="button-text__tiny">{{tag.description}}</div>
          </div>
        </a>
      </div>
    </div>
    <div *ngIf="DailyRecipe" class="daily-recipe">
      <img src="{{DailyRecipe.image}}" alt="" class="daily-recipe__image">
      <div class="daily-recipe__description">
        <div class="likes_n_favs">
          <div class="likes-n-favs__button">
            <img src="assets/Images/MainHeart.png" alt="" class="likes-n-favs__button_img">
            <div class="likes-n-favs__button_count">{{DailyRecipe.like}}</div>
          </div>
          <div class="likes-n-favs__button">
            <img src="assets/Images/MainClocks.png" alt="" class="likes-n-favs__button_img">
            <div class="likes-n-favs__button_count">{{DailyRecipe.time}}</div>
          </div>
        </div>
        <div class="description-logo">
          <img src="assets/Images/DailyRecipeLogoTop.png" alt="" class="description-logo__top">
          <img src="assets/Images/Circle.png" alt="" class="description-logo__bottom_back">
          <img src="assets/Images/DailyRecipeLogoBottom.png" alt="" class="description-logo__bottom_front">
        </div>
        <div class="description-content">
          <div class="description-content__bold">{{DailyRecipe.name}}</div>
          <div class="description-content__tiny">{{DailyRecipe.description}}</div>
        </div>
      </div>
    </div>
    <div class="recipe-search">
      <div class="recipe-search__title">
        <div class="recipe-search__title_bold">Поиск рецептов</div>
        <div class="recipe-search__title_tiny">Введите примерное название блюда, а мы по тегам найдем его</div>
      </div>
    </div>
    <div class="mainpage-search">
      <div class="page-search">      
        <div class="mainpage__inputfield"><input class="input-field" placeholder="Название блюда...." [(ngModel)]="SearchString"></div>
        <a [routerLink]="['/list', SearchString]" href="" class="page-search__button"><p>Поиск</p></a>
      </div>
      <div class="mainpage-quicktags">
        <div class="quick-tags">
          <a *ngFor="let quicktag of QuickTags.slice(0, 4)" [routerLink]="['/list']" href="" class="quick-tags__button"><div (click)="onTagClick(quicktag.name)" class="mainpage-quicktag__button">{{quicktag.name}}</div></a>
        </div>        
      </div>
    </div>

