<div class="page">
    <div class="page-intro">
      <div class="top-menu">
        <p class="top-menu__logo">Recipes</p>
        <a routerLink="/main" class="top-menu__button"><p>Главная</p></a>
        <a routerLink="/list" class="top-menu__button"><p>Рецепты</p></a>
        <a routerLink="/favs" class="top-menu__button"><p>Избранное</p></a>
        <a href="" class="top-menu__button_registration"><p>Войти</p></a>
      </div>
      <div class="intro-content">
        <div class="intro-content__bold">Готовь и делись рецептами</div>
        <div class="intro-content__tiny">Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте</div>
        <div class="intro-content__buttons">
          <a href="" class="yellow-button"><p>Добавить рецепт</p></a>
          <a href="" class="white-button"><p>Войти</p></a>
        </div>      
      </div>
    </div>
    <img src="assets/Images/Food.png" alt="Food" class="page-intro-image">
    <div class="page-tagsort">
      <div class="title">
        <div class="title__bold">Умная сортировка по тегам</div>
        <div class="title__tiny">Добавляй рецепты и указывай наиболее популярные теги. Это позволит быстро находить любые категории.</div>
      </div>
      <div class="sort">
        <a href="" class="sort__button">
          <div class="button-img">              
            <img src="assets/Images/Book.png" alt="Book" width="22" height="24" class="button-img__image">
          </div>
          <div class="button-text">
            <div class="button-text__bold">Простые блюда</div>
            <div class="button-text__tiny">Время приготвления таких блюд не более 1 часа</div>
          </div>
        </a>
        <a href="" class="sort__button">
          <div class="button-img">              
            <img src="assets/Images/Vector.png" alt="Book" width="24" height="24" class="button-img__image">
          </div>
          <div class="button-text">
            <div class="button-text__bold">Детское</div>
            <div class="button-text__tiny">Самые полезные блюда которые можно детям любого возраста</div>
          </div>
        </a>
        <a href="" class="sort__button">
          <div class="button-img">              
            <img src="assets/Images/Chief.png" alt="Book" width="24" height="20" class="button-img__image">
          </div>
          <div class="button-text">
            <div class="button-text__bold">От шеф-поваров</div>
            <div class="button-text__tiny">Требуют умения, времени и терпения, зато как в ресторане</div>
          </div>
        </a>
        <a href="" class="sort__button">
          <div class="button-img">              
            <img src="assets/Images/Holiday.png" alt="Book" width="24" height="23" class="button-img__image">
          </div>
          <div class="button-text">
            <div class="button-text__bold">На Праздник</div>
            <div class="button-text__tiny">Чем удивить гостей, чтобы все были сыты за праздничным столом</div>
          </div>
        </a>          
      </div>
    </div>
    <div class="daily-recipe">
      <img src="assets/Images/Dish.png" alt="" class="daily-recipe__image">
      <div class="daily-recipe__description">
        <div class="description-logo">
          <img src="assets/Images/DailyRecipeLogoTop.png" alt="" class="description-logo__top">
          <img src="assets/Images/Circle.png" alt="" class="description-logo__bottom_back">
          <img src="assets/Images/DailyRecipeLogoBottom.png" alt="" class="description-logo__bottom_front">
        </div>
        <div class="description-content">
          <div class="description-content__bold">Тыквенный супчик на кокосовом молоке</div>
          <div class="description-content__tiny">
            Если у вас осталась тыква, и вы не знаете что с ней сделать, то это решение для вас!
            Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! 
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-search">
      <div class="recipe-search__title">
        <div class="recipe-search__title_bold">Поиск рецептов</div>
        <div class="recipe-search__title_tiny">Введите примерное название блюда, а мы по тегам найдем его</div>
      </div>
    </div>    
  </div>

