    <div class="clear"></div>
    <a routerLink="/list" class="back-link">
      <img src="assets/Images/Arrow.png" alt="" class="back-link__arrow" width="18" height="12">
      <div class="back-link__text">Назад</div>
    </a>
    <div *ngIf="Recipe$ | async as recipe" >
      <div class="name">
        <div class="name__title">{{recipe.name}}</div>
        <div class="delete-button"><img src="assets/Images/TrashBin.png" alt="" width="14" height="18" class="delete-button__image"></div>
        <div class="yellow-button">Добавить рецепт</div>      
      </div>
      <div class="recipe">
        <img src="assets/Images/Strawberry.png" alt="" class="recipe__image">
        <div class="recipe__content">
          <div class="content-buttons">
            <div class="yellow-tags">
              <a href="" class="tag">десерты</a>
              <a href="" class="tag">клубника</a>
              <a href="" class="tag">сливки</a>
            </div>
            <div class="fav-buttons">
              <div class="fav-buttons__button">
                <img src="assets/Images/Star.png" alt="" class="fav-buttons__button_img" width="20" height="19">
                <div class="fav-buttons__button_text">{{recipe.fav}}</div>
              </div>
              <div class="fav-buttons__button">
                <img src="assets/Images/Heart.png" alt="" class="fav-buttons__button_img" width="20" height="19">
                <div class="fav-buttons__button_text">{{recipe.like}}</div>
              </div>
            </div>
          </div>
          <div class="description">
            <div class="description__bold">{{recipe.name}}</div>
            <div class="description__tiny">
              {{recipe.description}}
            </div>
          </div>
          <div class="bottom-content">
            <div class="bottom-content__time-and-person">
              <div class="time-and-person">
                <img src="assets/Images/Clocks.png" alt="" class="time-img" width="48" height="56">
                <div class="time-and-person_text">
                  <div class="time-and-person__text_bold">Время приготовления:</div>
                  <div class="time-and-person__text_tiny">{{recipe.time}}</div>
                </div>
              </div>
              <div class="time-and-person">
                <img src="assets/Images/People.png" alt="" class="person-img" width="59" height="38">
                <div class="time-and-person_text">
                  <div class="time-and-person__text_bold">Рецепт на:</div>
                  <div class="time-and-person__text_tiny">{{recipe.person}}</div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ingridients">
        <div class="ingridients__products">
          <div class="ingridients-title">Ингридиенты</div>
          <div *ngFor="let ingridient of recipe.ingridient">
            <div class="products-title">{{ingridient.title}}</div>
            <div class="products-description">
              {{ingridient.description}}
            </div>  
          </div>
        </div>
        <div class="ingridients__steps">
          <div *ngFor="let step of recipe.step" class="step">
            <div class="step__title">{{step.title}}</div>
            <div class="step__content">
              {{step.description}}
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="ending">Приятного аппетита!</div>

