<div class="page">
    <div class="page-intro">
      <div class="top-menu">
        <p class="top-menu__logo">Recipes</p>
        <a routerLink="/main" class="top-menu__button"><p>Главная</p></a>
        <a routerLink="/list" class="top-menu__button"><p>Рецепты</p></a>
        <a routerLink="/favs" class="top-menu__button"><p>Избранное</p></a>
        <a href="" class="top-menu__button_registration"><p>Войти</p></a>
      </div>
      <div class="add-recipe">
        <div class="add-recipe__title">Рецепты</div>
        <div class="yellow-button">Добавить рецепт</div>
      </div>
      <div class="tag-buttons">
        <div class="sort">
          <a *ngFor="let tag of Tags" href="" class="sort__button">
            <div class="button-img">              
              <img src="{{tag.icon}}" alt="Book" width="22" height="24" class="button-img__image">
            </div>
            <div class="button-text">
              <div class="button-text__bold">{{tag.name}}</div>            
            </div>
          </a>
        </div>
      </div>              
    </div>
    <div class="page-search">
      <div class="page-search__title">Поиск рецепта</div>
      <input class="input-field" placeholder="Название блюда...." [(ngModel)]="SearchString">
      <a href="" class="page-search__button"><p>Поиск</p></a>
    </div>
    <div class="quick-tags">
      <a *ngFor="let quicktag of QuickTags" href="" class="quick-tags__button">{{quicktag.name}}</a>
    </div>
    <a *ngFor="let recipe of Recipes" routerLink="/recipe" class="recipe">
      <img src="{{recipe.image}}" alt="" class="recipe__image">
      <div class="recipe__content">
        <div class="content-buttons">
          <div class="yellow-tags">
            <a *ngFor="let tag of recipe.tags.slice(0, 3)" href="" class="tag">{{tag.name}}</a>
          </div>
          <div class="fav-buttons">
            <div class="fav-buttons__button">
              <img src="assets/Images/Star.png" alt="" class="fav-buttons__button_img" width="20" height="19">
              <div class="fav-buttons__button_text">{{recipe.fav}}</div>
            </div>
            <div class="fav-buttons__button">
              <img src="assets/Images/Heart.png" alt="" class="fav-buttons__button_img" width="20" height="19">
              <div class="fav-buttons__button_text">{{recipe.like}}</div>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="description__bold">{{recipe.name}}</div>
          <div class="description__tiny">{{recipe.description}}</div>
        </div>
        <div class="bottom-content">
          <div class="bottom-content__time-and-person">
            <div class="time-and-person">
              <img src="assets/Images/Clocks.png" alt="" class="time-img" width="48" height="56">
              <div class="time-and-person_text">
                <div class="time-and-person__text_bold">Время приготовления:</div>
                <div class="time-and-person__text_tiny">{{recipe.time}}</div>
              </div>
            </div>
            <div class="time-and-person">
              <img src="assets/Images/People.png" alt="" class="person-img" width="59" height="38">
              <div class="time-and-person_text">
                <div class="time-and-person__text_bold">Рецепт на:</div>
                <div class="time-and-person__text_tiny">{{recipe.person}}</div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="bottom-button"><div class="white-button">Загрузить ещё</div></div>
  </div>

