.filtereditor 
{
    height: 130px;
    width: 150px;
    background-color: #99ff99;	
    border-right: 1px solid black;
}

.filtereditor-bottom
{
    background-color: #99ff99;	
	margin-top: 12px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.filtereditor-description 
{
    margin-left: 45px;
}